/* style.css */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

body {
    font-family: 'Space Mono', monospace; 
    color: #333; 
    background-color: #fff; 
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8; 
    padding: 10px 0;
    border-bottom: 2px solid orange; 
}

header a {
    color: #333; 
    text-decoration: none;
    margin: 0 10px;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header li {
    display: inline;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

main {
    padding: 20px;
    text-align: center; 
}

footer {
    background-color: #f8f8f8; 
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: orange; 
    text-decoration: none;
}

footer p {
    margin: 0;
}
