/* style.css */

body {
    font-family: Arial, sans-serif; /* You can choose a different font if you like */
    color: #333; /* Dark grey text color */
    background-color: #fff; /* White background */
    margin: 0;
    padding: 0;
}

header {
    background-color: #f8f8f8; /* Light grey background for the header */
    padding: 10px 0;
    border-bottom: 2px solid orange; /* Orange accent */
}

header a {
    color: #333; /* Dark grey color for links */
    text-decoration: none;
    margin: 0 10px;
}

header ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

header li {
    display: inline;
}

#logo {
    position: absolute;
    top: 10px;
    left: 10px;
}

main {
    padding: 20px;
    text-align: center; /* Center aligning the main content */
}

footer {
    background-color: #f8f8f8; /* Light grey background for the footer */
    color: #333;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer a {
    color: orange; /* Orange color for the footer link */
    text-decoration: none;
}

footer p {
    margin: 0;
}
